config:
  credentials: []
  project_repos:
    github.com/ARGOeu/argo-web-api:
      branch: master
      repo: https://github.com/ARGOeu/argo-web-api
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/ARGOeu/argo-web-api git:
        commands:
        - /usr/bin/env sh .sqa/script.slaphappy-xanthic-lizard.sh
        container: qc.acc_slaphappy-amethyst-hippopotamus
  QC.Doc:
    repos:
      github.com/ARGOeu/argo-web-api find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.hilly-saffron-scorpion.sh
        container: qc.doc_fuzzy-cardinal-blue
      github.com/ARGOeu/argo-web-api git:
        commands:
        - /usr/bin/env sh .sqa/script.whiny-cornflower-slug.sh
        container: qc.doc_cozy-tomato-harrier
      github.com/ARGOeu/argo-web-api markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.skimpy-smalt-husky.sh
        container: qc.doc_wiggy-chocolate-sparrow
  QC.Lic:
    repos:
      github.com/ARGOeu/argo-web-api licensee:
        commands:
        - /usr/bin/env sh .sqa/script.snippy-amaranth-heron.sh
        container: qc.lic_silly-pear-rabbit
  QC.Met:
    repos:
      github.com/ARGOeu/argo-web-api cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.hasty-plum-beaver.sh
        container: qc.met_craggy-tomato-camel
  QC.Sec:
    repos:
      github.com/ARGOeu/argo-web-api bandit:
        commands:
        - /usr/bin/env sh .sqa/script.gimpy-ochre-frog.sh
        container: qc.sec_homey-bistre-wasp
      github.com/ARGOeu/argo-web-api gosec:
        commands:
        - /usr/bin/env sh .sqa/script.lousy-grey-robin.sh
        container: qc.sec_pretty-brass-binturong
  QC.Sty:
    repos:
      github.com/ARGOeu/argo-web-api flake8:
        commands:
        - /usr/bin/env sh .sqa/script.muzzy-malachite-anteater.sh
        container: qc.sty_jumpy-pumpkin-turkey
      github.com/ARGOeu/argo-web-api jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.stealthy-orchid-hound.sh
        container: qc.sty_paltry-periwinkle-seahorse
      github.com/ARGOeu/argo-web-api staticcheck:
        commands:
        - /usr/bin/env sh .sqa/script.beady-flax-dane.sh
        container: qc.sty_silly-mustard-retriever
  QC.Uni:
    repos:
      github.com/ARGOeu/argo-web-api pytest:
        commands:
        - /usr/bin/env sh .sqa/script.leaky-maroon-hamster.sh
        container: qc.uni_homey-gamboge-birman
  QC.Ver:
    repos:
      github.com/ARGOeu/argo-web-api get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.grumpy-mustard-hummingbird.sh
        container: qc.ver_sickly-scarlet-gopher
timeout: 5400
