config:
  credentials: []
  project_repos:
    github.com/ARGOeu/argo-web-api:
      branch: master
      repo: https://github.com/ARGOeu/argo-web-api
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/ARGOeu/argo-web-api git:
        commands:
        - /usr/bin/env sh .sqa/script.flimsy-periwinkle-tzu.sh
        container: qc.acc_wiggy-periwinkle-drever
  QC.Doc:
    repos:
      github.com/ARGOeu/argo-web-api find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.homey-green-moose.sh
        container: qc.doc_pokey-ivory-tiger
      github.com/ARGOeu/argo-web-api git:
        commands:
        - /usr/bin/env sh .sqa/script.slaphappy-cobalt-earwig.sh
        container: qc.doc_skimpy-celadon-chamois
      github.com/ARGOeu/argo-web-api markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.sleazy-asparagus-rottweiler.sh
        container: qc.doc_cheeky-cerise-peccary
  QC.Lic:
    repos:
      github.com/ARGOeu/argo-web-api licensee:
        commands:
        - /usr/bin/env sh .sqa/script.slimy-saffron-birman.sh
        container: qc.lic_slaphappy-russet-bear
  QC.Met:
    repos:
      github.com/ARGOeu/argo-web-api cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.dorky-eggplant-eagle.sh
        container: qc.met_wimpy-cardinal-walrus
  QC.Sec:
    repos:
      github.com/ARGOeu/argo-web-api bandit:
        commands:
        - /usr/bin/env sh .sqa/script.beady-periwinkle-falcon.sh
        container: qc.sec_hilly-ruby-molly
      github.com/ARGOeu/argo-web-api gosec:
        commands:
        - /usr/bin/env sh .sqa/script.sloppy-cream-wombat.sh
        container: qc.sec_cozy-puce-loon
  QC.Sty:
    repos:
      github.com/ARGOeu/argo-web-api flake8:
        commands:
        - /usr/bin/env sh .sqa/script.flaky-eggplant-magpie.sh
        container: qc.sty_silly-salmon-butterfly
      github.com/ARGOeu/argo-web-api jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.hasty-puce-dollar.sh
        container: qc.sty_shabby-thistle-millipede
      github.com/ARGOeu/argo-web-api staticcheck:
        commands:
        - /usr/bin/env sh .sqa/script.goopy-wheat-capuchin.sh
        container: qc.sty_crabby-azure-zorse
  QC.Uni:
    repos:
      github.com/ARGOeu/argo-web-api pytest:
        commands:
        - /usr/bin/env sh .sqa/script.snappy-gamboge-cheetah.sh
        container: qc.uni_frumpy-ochre-newfoundland
  QC.Ver:
    repos:
      github.com/ARGOeu/argo-web-api get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.paltry-olivine-cheetah.sh
        container: qc.ver_gimpy-copper-setter
timeout: 5400
