config:
  credentials: []
  project_repos:
    github.com/ARGOeu/argo-web-api:
      branch: master
      repo: https://github.com/ARGOeu/argo-web-api
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/ARGOeu/argo-web-api git:
        commands:
        - /usr/bin/env sh .sqa/script.surly-pink-fox.sh
        container: qc.acc_snappy-pumpkin-donkey
  QC.Doc:
    repos:
      github.com/ARGOeu/argo-web-api find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.cloudy-mustard-capuchin.sh
        container: qc.doc_lousy-razzmatazz-harrier
      github.com/ARGOeu/argo-web-api git:
        commands:
        - /usr/bin/env sh .sqa/script.fuzzy-cerise-wallaby.sh
        container: qc.doc_wimpy-mauve-hornet
      github.com/ARGOeu/argo-web-api markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.wheezy-platinum-rabbit.sh
        container: qc.doc_cloudy-violet-whippet
  QC.Lic:
    repos:
      github.com/ARGOeu/argo-web-api licensee:
        commands:
        - /usr/bin/env sh .sqa/script.baggy-orchid-stoat.sh
        container: qc.lic_blurry-jade-budgerigar
  QC.Met:
    repos:
      github.com/ARGOeu/argo-web-api cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.flabby-azure-bordeaux.sh
        container: qc.met_seedy-lemon-zebu
  QC.Sec:
    repos:
      github.com/ARGOeu/argo-web-api bandit:
        commands:
        - /usr/bin/env sh .sqa/script.pokey-teal-rattlesnake.sh
        container: qc.sec_zippy-flax-dhole
      github.com/ARGOeu/argo-web-api gosec:
        commands:
        - /usr/bin/env sh .sqa/script.pasty-zucchini-pig.sh
        container: qc.sec_slaphappy-charcoal-kangaroo
  QC.Sty:
    repos:
      github.com/ARGOeu/argo-web-api flake8:
        commands:
        - /usr/bin/env sh .sqa/script.thirsty-xanthic-bear.sh
        container: qc.sty_zippy-harlequin-beaver
      github.com/ARGOeu/argo-web-api jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.clammy-bronze-wildebeest.sh
        container: qc.sty_silly-mustard-snail
      github.com/ARGOeu/argo-web-api staticcheck:
        commands:
        - /usr/bin/env sh .sqa/script.stuffy-violet-dingo.sh
        container: qc.sty_clammy-bistre-discus
  QC.Uni:
    repos:
      github.com/ARGOeu/argo-web-api pytest:
        commands:
        - /usr/bin/env sh .sqa/script.cloudy-zucchini-civet.sh
        container: qc.uni_dorky-cornflower-beaver
  QC.Ver:
    repos:
      github.com/ARGOeu/argo-web-api get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.clammy-cardinal-mole.sh
        container: qc.ver_freaky-platinum-jackal
timeout: 5400
